@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/card";
@import "components/form";
@import "components/header";
@import "components/navigation";
@import "components/social-links";
@import "components/sub-header";

@import "layout/footer";


/****************************************** Media Querys **************************************/

@media (min-width: 600px) { /* Tablet Portrait */

  .nav-bar__nav-link {
    font-size: .9rem;
    width: 100px;
  }

  .header__title {
    font-size: 3.5rem;
    padding-bottom: 0;
  }
  
  .header__img {
    width: 350px;
  }
  
  .main-content {
    grid-template-columns: minmax(auto, 450px) minmax(auto, 450px);
    grid-template-areas: 
      "header  header"
      "america europe" 
      "asia    van" 
      "video-a video-b";
  }
  
  .sub-header {
    grid-area: header;
  }
  
  .card--america {
    grid-area: america;
  }

  .card--europe {
    grid-area: europe;
  }

  .card--asia {
    grid-area: asia;
  }
  
  .card--video-a {
    grid-area: video-a;
  }
  
  .card--video-b {
    grid-area: video-b;
  }
  .card--van {
    grid-area: van;
  }

  .copyRight-container {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 900px) { /* Tablet Landscape */
  .main-content {
    grid-template-columns: minmax(auto, 450px) minmax(auto, 450px) minmax(auto, 450px);
    grid-template-areas: 
      "header header header"
      "america europe asia" 
      "video-a van  van" 
      "video-b van  van";
  }
  
  .card__heading--lrg {
    font-size: 2rem;
  }
  
  .card__subtitle--lrg {
    font-size: 1.5rem;
    bottom: 100px;
  }
}